<html>
  <head>
  <meta var="{{secret_header}}">
  </head>
  <body>
    <h1>Hello World</h1>
    <h2>This message brought to you by {{ human_name }}</h2>
    <h2>This message is being served to you by a(n) {{ ansible_distribution }} box ( {{ ansible_lsb.description }} )</h2>
  </body>
</html>
